<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2"></div>
    <div class="col-md-4">
      <img src="https://d30o7qbghf97ws.cloudfront.net/micolet-logo.svg">
      <br>
      <br>
      <div class="row text-justify">
        <strong class="text-secondary">
          <p class="text-center">Hola,  gracias por suscribirte. </p>
          <p class="text-center">Pronto recibiras mas informacion en tu correo eletronico. </p>
        </strong>
      </div>
      <div class="row justify-content-center">
        <div class="col-3 text-center">
          <%= link_to 'Regresar', newsletters_path, class: 'text-success'%>
        </div>
      </div>
    </div>
    <div class="col col-lg-2"></div>
  </div>
</div>
