<div class="container">
  <div class="row justify-content-md-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Micolet</h5>
        <p class="card-text text-secondary">Micolet tiene actualmente presencia en 8 paises y no dejamos de buscar nuevos mercados en los que establecernos.
          <br>
          De cara a ir captando subscriptores antes de abrir la página en un nuevo país queremos disponer de una landing page sencilla donde las personas interesadas en recibir nuestra newsletter puedan introducir su email
          y seleccionar sus preferencias entre: Moda Mujer, Moda Hombre y Moda Infantil. </p>
      </div>
    </div>
  </div>
</div>

<h1><%= t('welcome') %></h1>

<%= I18n.available_locales %>